resource "aws_iam_role" "{{ resource_name }}" {
  name = "{{ role.role_name }}"
  path = "{{ role.path }}"

  assume_role_policy = jsonencode({{ role.assume_role_policy_document }})
{% if role.tags %}
  tags = {
{% for key in role.tags %}
    "{{ key }}" = "{{ role.tags[key] }}"
{% endfor %}
  }
{% endif %}
}

