resource "aws_iam_policy" "{{ resource_name }}" {
  name        = "{{ policy.policy_name }}"
  path        = "{{ policy.path }}"
  description = "{{ policy.policy_name }}"

  policy = jsonencode({{ policy.policy_document }})
{% if policy.tags %}
  tags = {
{% for key in policy.tags %}
    "{{ key }}" = "{{ policy.tags[key] }}"
{% endfor %}
  }
{% endif %}
}

